<div class="container pt-2">
    <h2> Detail Profile </h2>
    <div class="bg-white">
        <div class="">
            <div class="d-flex align-items-center">
                <div>
                    <img 
                        src="https://master-duel-ruler.site/storage/post-image/photo-external/user_1.png" 
                        alt="image" 
                        style="width: 8rem;"
                    >
                </div>
                <div class="ms-2">
                    <h3>Vasili Savistik</h3>
                    <span>status: </span>
                </div>
            </div>
            <div class="d-block mt-4">
                <div class="d-flex row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        First name 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        : name
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Last name 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Email 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Birth Date 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Basic Salary 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">   
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Status 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Group 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-2 fw-bold">
                        Description 
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-10">
                        :
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
