<main class="form-signin text-center">
  <div [formGroup]="loginForm">
    <img class="mb-4" src="https://master-duel-ruler.site/storage/post-image/photo-external/user_1.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
      <div 
        *ngIf="loginForm.controls['email'].errors['required'] && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)"
        class="invalid-feedback d-block">
        Please fill email.
      </div>
      <div 
        *ngIf="loginForm.controls['email'].errors['email'] && (loginForm.controls['email'].touched || loginForm.controls['email'].dirty)"
        class="invalid-feedback d-block">
        Please use correct email format.
      </div>
    </div>
    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
      <div 
        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)"
        class="invalid-feedback d-block">
        Please fill password.
      </div>
    </div>
    <button 
      [disabled]="loginForm.invalid"
      class="w-100 btn btn-lg btn-primary mt-2" type="button" (click)="submit()">Sign in</button>
  </div>
</main>
<div 
  *ngIf = "loading" 
  class=" loading" >
  <app-loading></app-loading>
</div>
