/******** modify datepicker material */

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: white;
}

@media (max-width: 767.98px) {
    .form-control-style {
        display: block !important;
        width: 100% !important;
    }
}

.form-control-style {
    display: block;
    width: 49%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}