<h2>Section title</h2>
<div>
  <button type="button" (click)="login()">Login</button>
  <button type="button" (click)="logout()">Logout</button>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>random</td>
        <td>data</td>
        <td>text</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>2</td>
        <td>placeholder</td>
        <td>irrelevant</td>
        <td>layout</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>3</td>
        <td>data</td>
        <td>rich</td>
        <td>tabular</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>4</td>
        <td>information</td>
        <td>placeholder</td>
        <td>data</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>5</td>
        <td>text</td>
        <td>random</td>
        <td>dashboard</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>6</td>
        <td>dashboard</td>
        <td>irrelevant</td>
        <td>placeholder</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>6</td>
        <td>dashboard</td>
        <td>illustrative</td>
        <td>data</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>7</td>
        <td>placeholder</td>
        <td>tabular</td>
        <td>irrelevant</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>8</td>
        <td>random</td>
        <td>data</td>
        <td>text</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>9</td>
        <td>placeholder</td>
        <td>irrelevant</td>
        <td>layout</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>10</td>
        <td>data</td>
        <td>rich</td>
        <td>tabular</td>
        <td>Action</td>
      </tr>
    </tbody>
  </table>
</div>