/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.text-primary {
    color: #0d6efd;
}

.text-secondary {
    color: #adb5bd
}

.text-success {
    color: #198754
}

.text-info {
    color: #6610f2;
}

.text-warning {
    color: #fd7e14;
}

.text-danger {
    color: #dc3545;
}


